<div class="my-6">
  <h2 class="font-bold text-3xl text-accent mb-6">
    <%= @client.name %>
  </h2>

  <p><%= @client.description %></p>

  => Ruby on Rails/React & Objective-C<br>
</div>
<div class="divider"></div> 