<% cache @client do %>
  <div class="flex items-center justify-between gap-16">
    <div class="my-6">
      <h2 class="font-bold text-3xl text-accent underline underline-offset-8 mb-6">
        <%= @client.name %>
      </h2>

      <p><%= simple_format(@client.description) %></p>

      <div class="my-3">
        <%= render(TagListComponent.new(tags: @client.tag_list)) %>
      </div>
    </div>
    <div class="w-64 rounded">
      <%= image_tag "logos/#{@client.id}.png" %>
    </div>
  </div>
  <div class="divider"></div>
<% end %>