<% tag_cloud(@tags, %w(badge-sm badge badge-md badge-lg)) do |tag, css_class| %>
    <span class="inline-block align-bottom badge <%= css_class %> <%= tag.name == session[:tag] ? "badge-primary" : "badge-outline" %> hover:badge-ghost">
        <%= link_to url_for(params.permit!.merge(tag: tag.name)), data: { turbo_frame: "results_frame" } do %>
            <%= tag.name %>
        <% end %>
    </span>
<% end %>