<div class="mx-auto max-w-max m-8">
    <div class="">
        <% tag_cloud(@tags, %w(badge-xs badge-sm badge-md badge-lg)) do |tag, css_class| %>
            <span class="inline-block align-bottom badge 
                        <%= params[:tag] == tag.name ? 'badge-outline badge-lg' : 'badge-secondary' %> 
                        <%= css_class %>
                        hover:badge-lg">
                <%= link_to tag.name, root_path(tag: tag.name) %>
            </span>
        <% end %>
    </div>
</div>