
  <div class="card bg-base-100 shadow-xl">
    <figure><%= image_tag projet.thumbnail_image_path %></figure>
    <div class="card-body">
      <h2 class="card-title">
        <%= projet.nom.upcase %>
      </h2>
      <%= link_to projet.url, projet.url, target: "_blank" %>
      <div class="card-actions justify-end">
        <% projet.tag_list.each do |tag| %>
          <div class="badge badge-outline"><%= tag %></div>
        <% end %>
      </div>
    </div>
  </div>