<h1 class="text-4xl">A propos de Philnoug & Partners</h1>


<p>
    <b>Collectif adepte de l'approche "LEAN"</b>, notre devise est 'Du client au code et du code au client' !
    Quand on code, on code utile et toujours en cherchant à transformer ce code en un processus-métier 
    qui fait sens pour notre client.
</p>

<p class="">
    Product Managers, consultants, et développeurs passionnés d'open-source, avec une expérience de plus de 20 ans.
    Cette expérience inclue le développement coté client, coté serveur ainsi que le développement de produit, 
    la R&D et le management de développeurs inhouse/nearshore.
</p>

<h2 class="text-2xl">Récompenses</h2>

<p>
    2015 - Prix de l’Innovation ETF/VINCI, catégorie Management, région Île de France, pour la conception et réalisation 
    d’une application de suivi de la maintenance ferroviaire (AEMMS). 
</p>

<p>
    2010 - Concours Smartphones SNCF/TGV Lab
    Direction d’un projet de développement d’une application mobile qui améliore la qualité de l’information
    transmise par les chefs de bord durant les trajets. 
    Pendant quatre semaines, sur les lignes TGV Paris-Lyon et Paris-Nantes, 14 chefs de bord ont testé sept applications
    avec les smartphones associés. Nous avons atteint la seconde place du podium.
    Développement sponsorisé par Research in Motion (BlackBerry).
</p>


<h2 class="text-2xl">Certifications</h2>

Développement
- Développez en C pour l’embarqué 
- Lancez-vous dans la programmation avec Ruby 
- Initiez-vous à Ruby on Rails 
- Continuez avec Ruby on Rails 
- Optimisez votre déploiement en créant des conteneurs avec Docker 
- Construisez des Microservices 
- Développez une application mobile React Native 
- Organisez votre application avec la logique Redux 
- Initiez-vous à Kotlin 

Gestion de projet
- Gérez votre projet avec une équipe Scrum
- Passez à l’agilité à l’échelle 

Pédagogie
- Apprenez à apprendre 
- Devenez Mentor chez OpenClassrooms 
- Les étapes de la vie du Mentor 

<h2 class="text-3xl">Open-Source ? Quelques projets libres</h2>

<p>
    Planning | Planning à l’usage d’un établissement de l’enseignement supérieur
    Gestion des cours, intervenants, étudiants, états de services, etc…

    Démo: planning4-testing.herokuapp.com
</p>


<p>
    CRYSTAL-DATA | Vos données métier, en ligne et en mobilité
    Petite base de données en ligne qui permet de créer des tables de données et formulaires, et de les partager en ligne et en mobilité.

    Démo: crystal-data.philnoug.com
</p>

</p>
    openCantine/PrestoFacto | Facturation de cantine et prestations péri-scolaires
    Développement et maintenance depuis 2009 d’une application de facturation de cantine et autres prestations péri-scolaires, destinée aux petites collectivités, associations, mairies, écoles, etc.

    Nouvelle version 2020 | Ancienne version
</p>

<h3 class="text-2xl">Voir d’autres projets libres sur Github…</h3>


