<h1 class="font-bold text-4xl text-center text-accent mb-6">
  <i>CLIENTS</i>
</h1>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        IAE Paris-Sorbonne
    </h1>

    Institut d’Administration des Entreprises de Paris<br>
    Chargé de mission pour la rénovation du système d’information<br>
    Développement d’une application de gestion du planning des cours et des états de services des intervenants<br>
    => Ruby on Rails/React & Objective-C<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        SCOPELEC
    </h1>
    Conception et développement d’un logiciel de gestion du suivi des activités de déploiement et de maintenance de la fibre optique (FTTH). Logiciel bien-nommé TALEA. Projet commencé seul puis AMOA aidé par 3 développeurs en France et en Roumanie<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        L’Oréal/YSL
    </h1>
    Portage iPAD d’une WebApp ‘My BEAUTY INDEX’, qui sera utilisée sur les points de ventes YSL monde. Gestion d’un développeur en Slovaquie<br>
    => Objective-C<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        PROLOGUE/ALHAMBRA-EIDOS
    </h1>
    Conception et développement d’un outil de suivi de la qualité des opérations de maintenance ferroviaire (soudure et meulage de rail). Logiciel baptisé AEMMS.<br>
    => Client natif C# pour tablette Windows<br>
    => Backend Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        INNOSERV
    </h1>
    AMOA pour la réalisation d’une plateforme Européenne sur l’innovation dans les services sociaux. Gestion de 2 développeurs en Hongrie (Drupal/PHP). Développement de l’application iPhone.<br>
    => DRUPAL<br>
    => Objective-C pour iOS<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        RNMA
    </h1>
    Réseau National des Maisons des Associations<br>
    Plateforme B2B/B2C<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        Le T-Shirt Français (B2B)
    </h1>
    Conveption et développement de la plateforme de cotation LTSF.PRO<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        GROHE
    </h1>
    Conception et développement d’une plateforme de workflow de factures fournisseurs<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        PPRS Research
    </h1>
    Conception et développement d’une plateforme de collecte de données du sommeil issues d’un dispositif médical innovant; Somno-ART<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        AirJin
    </h1>
    Conception et développement d’une plateforme de collecte et visualisation de données issues des capteurs d’un appareil de suivi de la qualité de l’air<br>
    => Ruby on Rails<br>
</p>

<p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
        Et aussi :
    </h1>
    BLUELINEA,
    CHUBB,
    UCAR Location,
    A.C.S.C,
    Air ALGERIE,
    Expertise-OTTAVI,
    NOOS/Numericable,
    Kuoni,
    Ucopia …
</p>
