<div class="text-center mb-16">
  <h1 class="font-bold text-4xl text-accent mb-6 pt-8">
    <i>Crystal Data</i>
  </h1>
  <h2 class="text-lg xl:text-2xl px-6">
    Vos données métier, en ligne et en mobilité
  </h2>
</div>

<div class="p-8">
  <p class="text-2xl font-bold mb-8">
    Cette application Web vous permet de créer des tables de données à partir de feuilles Excel, de les partager en ligne et en mobilité
  </p>

  <p class="text-xl mb-4">
    Développeur d'applications métiers depuis plus de 20 ans, j'ai souvent aidé mes clients à passer d'un système d'information en silos, où les données métier critiques de l'entreprise sont enfermées dans des feuilles Excel, à un système de type plateforme où les données sont centralisées, partagées entre les services, et qui permet à la direction d'avoir une vue d'ensemble de l'activité. A force de mettre en place ce type de solution, j'ai remarqué que des motifs se répétaient et qu'à chaque nouveau projet les besoins étaient les mêmes :
  </p>
  <ul class="list-disc mb-4" style="list-style-position: inside">
    <li>Importer les données d'Excel</li>
    <li>Accéder aux données de n'importe où</li>
    <li>Rechercher, filtrer</li>
    <li>Partager les données en toute sécurité</li>
  </ul>

  <p class="text-xl mb-4">
    C'est pourquoi j'ai développé Crystal Data, afin d'offrir les 4 premiers services d'un système ouvert de type plateforme et aider des entreprises à franchir le pas vers le décloisonnement de leurs données, pour une gestion efficace, collaborative et centrée sur leurs objectifs. Et, pourquoi pas, poser ainsi les fondations d'une future application sur mesures, intégrant les liens entre les données, les règles métiers et les vues personnalisées.
  </p>

  <p class="text-xl">
    Pour en savoir plus, veuillez consulter
    <%= link_to "le guide d'utilisation", "https://crystal-data.philnoug.com", class: 'link' %>
  </p>

</div>

<div class="px-8">
  <h2 class="apps-title">Démonstration</h2>
  <p>
    Envie de tester l'application ?
    <%= link_to 'Lancer la démonstration', 'https://crystal-data.philnoug.com', class:'link', target: '_blank' %>
  </p>

  <h2 class="apps-title">Projet libre (Open-Source)</h2>
  <p>
    Les sources de ce projet sont disponibles ici :
    <%= link_to "https://github.com/philippe-nougaillon/crystal-data7", "https://github.com/philippe-nougaillon/crystal-data7", class:'link' %>
  </p> 

  <h2 class="apps-title">Développement, support et services</h2>
  <p>
    Crystal Data est développé et maintenu par 
    <%= link_to 'Philnoug & Partners', root_path, class:'link' %>
  </p>
</div>
