<section class="hero is-dark mb-6">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1 has-text-white">
    MENTIONS LÉGALES
    </h1>
  </div>
</section>

<section id="mention_légales_content" class="mx-24">
  <h2 class="text-xl font-bold mb-4">
    1. Editeur du site
  </h2>
  <p class="mb-4">
    Studio 'Philnoug & Partners'
    <br>
    Directeur de la publication : Philippe Nougaillon<br>
    Siège social :<br>
    34 Allée Thiellement<br>
    93340 Le Raincy<br>
    France<br><br>

    SIRET : 384 396 719 00047
    <br>

    Tel : +33 (0)6 60 16 94 81<br>
    <br>
    Mail : <%= mail_to "contact@philnoug.com", class:"link" %>
  </p>

  <h2 class="text-xl font-bold mb-4">
    2. Développements
  </h2>
  <p class="mb-4">
    Création du site en 2012
    <br>
    Le présent site a été conçu et développé par <%= link_to "Studio P&P", "https://www.philnoug.com", target: '_blank' %> en Ruby on Rails.
    <br>
    Contact : <%= mail_to "contact@philnoug.com" %>
    <br><br>
    L’hébergement du site est réalisé par la Société Heroku Inc, situé à 1 Market St. Suite 300, San Francisco, CA 94105 USA.
    <br>
    Contact : <%= link_to "https://www.heroku.com/contact", "https://www.heroku.com/contact", target: '_blank'%>
  </p>

  <h2 class="text-xl font-bold mb-4">
    3. Données nominatives ou à caractère personnel
  </h2>
  <p class="mb-4">
    Les utilisateurs sont parfois invités à fournir sur le présent site des données nominatives, c’est-à-dire certaines informations à caractère personnel. Ils sont expressément avertis qu’ils n’ont aucune obligation de répondre aux questions qui leur sont posées. En outre, chaque questionnaire mentionne le caractère impératif des réponses pour obtenir la fourniture du service demandé.
    Le traitement automatisé par Studio 'Philnoug & Partners' des données nominatives fournies par l’utilisateur est conditionné à l’accord express et ponctuel de ce dernier. Ces données nominatives ne sont jamais transférées à des tiers.
    Les informations collectées sur le présent site sont utilisées uniquement dans le cadre légal prévu en France pour le respect de la vie privée. Studio 'Philnoug & Partners' est le destinataire des données. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification, de suppression des informations qui vous concernent, que vous pouvez exercer en nous écrivant via la page Nous Contacter.
  </p>

  <h2 class="text-xl font-bold mb-4">
    4. E-Newsletter
  </h2>
  <p class="mb-4">
    Les informations recueillies sont nécessaires pour votre inscription à l'envoi de la e-newsletter.
    Elles font l’objet d’un traitement informatique et sont destinées au secrétariat de l’association. Conformément aux dispositions de la loi dite « informatique et liberté » du 6 janvier 1978 modifiée et au règlement général relatif à la protection des données, vous disposez d'un droit d'accès, de rectification, d’effacement, de limitation,  à la portabilité des données à caractère personnel, de rétractation,  d’opposition vous concernant (articles 15, 16, 17, 18,20, 13 et 21 du RGPD).
    Si vous souhaitez exercer ce droit veuillez nous écrire via la page Nous Contacter ou par courrier au 106-112 allée Notre Dame des Anges, 93370 Montfermeil.
    Les données personnelles sont utilisées afin d'interagir avec les utilisateurs dans le cadre de la gestion des préférences qu'il aura choisie ou des offres qu'il aura souscrites. Elles sont conservées durant trois ans à partir de la fin constatée de la connexion sur le site et des interactions.
  </p>

  <h2 class="text-xl font-bold mb-4">
    5. Liens hypertextes
  </h2>
  <p class="mb-4">
    Le contenu mis à disposition sur le présent site est fourni à titre informatif. L’existence d’un lien vers un autre site ne constitue pas une validation de ce dernier ou de son contenu par Studio 'Philnoug & Partners' qui ne saurait donc être tenu pour responsable.
  </p>

  <h2 class="text-xl font-bold mb-4">
    6. Propriété
  </h2>
  <p class="mb-4">
    L’ensemble de ce site est régi par la législation française sur le droit d’auteur et la propriété intellectuelle. Le contenu du site, incluant, de façon non limitative, les images, graphismes, textes, vidéos, logos, et icônes sont la propriété exclusive de Studio 'Philnoug & Partners' à l’exception des marques, logos ou contenus appartenant à d’autres entreprises ou organisations partenaires ou auteurs.
    La reproduction, la représentation, le transfert, la distribution, ou l’enregistrement de tout ou partie de ces éléments sont formellement interdits sans l’autorisation expresse de Studio 'Philnoug & Partners'.
  </p>

  <h2 class="text-xl font-bold mb-4">
    7. Cookies
  </h2>
  <p class="mb-4">
    Afin d’améliorer et de personnaliser la navigation, des cookies peuvent être déposés sur votre ordinateur. Vous pouvez choisir de refuser ces cookies en paramétrant votre navigateur. Pour en savoir plus sur le fonctionnement des cookies, nous vous invitons à lire cette page sur le site de la CNIL.
  </p>

  <h2 class="text-xl font-bold mb-4">
    8. Législation applicable
  </h2>
  <p class="mb-4">
    Le présent site est soumis à la législation française. En conséquence, dans l’hypothèse où certaines informations seraient considérées comme illégales dans d’autres pays, la responsabilité du présent site ne pourrait être engagée, chaque utilisateur devant vérifier la conformité du site à la législation du pays auquel il est matériellement et territorialement soumis.
  </p>

  <h2 class="text-xl font-bold mb-4">
    2023 © Studio 'Philnoug & Partners' - Tous droits réservés
  </h2>
</section>