<h1 class="font-bold text-4xl text-center text-accent mb-6">
  <i>CLIENTS</i>
</h1>

<div class="my-6 lg:px-24">

  <%= render(ClientComponent.with_collection(@clients))%>


  <p class="my-6">
    <h1 class="font-bold text-3xl text-accent mb-6">
      Et aussi :
    </h1>
    BLUELINEA,
    CHUBB,
    UCAR Location,
    A.C.S.C,
    Air ALGERIE,
    Expertise-OTTAVI,
    NOOS/Numericable,
    Kuoni,
    Ucopia …
  </p>
</div>