<h1 class="font-bold text-4xl text-center text-accent mb-6 pt-8">
  <i>Partenaires</i>
</h1>

<div class="flex flex-col justify-center min-h-screen mx-4">
  <h2 class="text-center text-5xl font-bold my-24 reveal">
    Notre SQUAD : la force d'un collectif
  </h2>
  <h3 class="font-bold text-2xl mt-7 text-center">
    Nous sommes tous très complémentaires mais indépendants
    <br>
    ce qui nous permet de vous proposer un service à 360°
  </h3>
  
  <div class="flex flex-col mx-36 mt-24 gap-12">
    <div class="flex gap-8">
      <div class="mask mask-squircle">
        <%= image_tag "https://media.licdn.com/dms/image/C4E03AQG3P_kSXgKJ1g/profile-displayphoto-shrink_400_400/0/1632397665330?e=1683763200&v=beta&t=zRg-1wBMr68t4AwrE3ldzxcX2a7Nj5bUhqAHRLPeW1I" %>
      </div>
      <div>
        <h4 class="font-bold text-2xl">
          Pierre-Emmanuel
        </h4>
        <h5 class="italic text-xl">
          Développeur
        </h5>
        <p class="text-justify mt-4">
          Diplômé de la Tech&Code Factory,
          où j'ai été formé à la conception et au développement de solutions numériques.
          Je suis actuellement en 4e année de la Webschool Factory pour l'obtention du titre 'MANAGEUR DE L'INNOVATION NUMÉRIQUE'.
        </p>
      </div>
    </div>
    <div class="flex gap-8">
      <div class="">
        <h4 class="text-right font-bold text-2xl">
          Nathan
        </h4>
        <h5 class="text-right italic text-xl">
          Product Manager
        </h5>
        <p class="text-justify mt-4">
          Issu d'un parcours à la croisée de l'entrepreneuriat et du Web, avec un diplôme en administration d'entreprise EDHEC et un master en Product Management, je me suis formé en autodidacte au design, et au développement Web et SEO.
        </p>
      </div>
      <div class="mask mask-squircle">
        <%= image_tag "https://media.licdn.com/dms/image/D5603AQGVBZyQyq_duA/profile-displayphoto-shrink_400_400/0/1674316090425?e=1683763200&v=beta&t=P7AzX4LoVjjevRt2bemgZ6JzO9SmNed9SltqEYvYERA" %>
      </div>
    </div>

  </div>
</div>
<div class="my-6 lg:px-24">

</div>