<div class="text-center mb-16">
  <h1 class="font-bold text-4xl text-accent mb-6 pt-8">
    <i>PRESTOFACTO</i>
  </h1>
  <h2 class="xl:text-2xl text-accent mt-6 px-10">
    Facturation de vos services journaliers
  </h2>
</div>

<div class="mx-6">
  <p class="text-xl">
    PrestoFacto aide les petites organisations dans la gestion et la facturation de leurs prestations (repas, garderie, activités, etc...).
    <br>

    PrestoFacto est destiné aux petites collectivités, associations, mairies, écoles, centre de loisirs, etc.
    Cette solution vous aidera dans l’organisation de votre association et vous fera gagner un temps précieux en simplifiant la gestion administrative et la facturation de vos cantines et services périscolaires.

    Prise en main immédiate.
    Une comptabilité simple par famille. Basée sur le principe de la réservation des prestations. Une facture par mois des prestations consommées, avec solde. Balance famille détaillée.

    Une informatique 'dans le nuage'.
    Une simple page internet, pas de logiciel à installer. Mise à jour automatique. Nombre d'utilisateurs illimité. Droits d'accès à la lecture seule pour les invités. Pas de serveur à installer et à administrer. Pas de sauvegarde à gérer. Nous nous chargeons d’héberger et de sécuriser vos données.
  </p>
</div>