
<h1 class="font-bold text-4xl text-center text-accent mb-6 pt-8">
  <i>RECHERCHE</i>
</h1>

<h2 class="text-center">
  Entrez un terme à rechercher dans tout le site
</h2>

<div class="flex justify-center">
  <%= form_tag recherche_path, method: :get do %>
    <div class="field p-3">
      <%= text_field_tag :search, 
                            params[:search], 
                            class: "input input-bordered", 
                            placeholder: "ex: Ruby, React...",
                            autofocus: true %>
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  <% end %>
</div>

<% if defined?(@results) %>
  <% if @results.any? %>
    <%= render partial: @results, as: :result %>
  <% else %>
    <p class="title is-4 has-text-centered p-6">
      Aucun résultat trouvé...
    </p>
  <% end %>
<% end %>